/* Import the Jost font */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

.team-section {
  margin-top: 10%;
  text-align: center;
  background-color: black;
  color: white;
}

.team-photos {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  flex-wrap: nowrap;
  margin-left: 7%;
  margin-right: 7%;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 8px solid white;
  margin-bottom: 10%;
}

.team-member p {
  font-family: "Jost", sans-serif;
  margin-top: 10px;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .team-photos {
    flex-wrap: wrap;
  }

  .team-member {
    margin-bottom: 20px;
  }
}
